.login-form-section{
    padding: 15px;
    .form1{
        label{
            text-transform: uppercase;
        }
    }
    .form-check{
        label{
            @extend %body-color;
        }
    }
    .boxed-btn{
        height: 35px;
        line-height: 35px;
        width: 100%;
    }
    .forgot-password {
        margin-top: 10px;
        a {
            color: #6FB556;
            font-size: 12px;
            
        }
    }
}