.start-timer {
    margin: 15px  0 25px;
    h4 {
        color: #B9CAD9;
        text-transform: uppercase;
        font-size: 13px;
        margin: 0 0 5px;
    }
    a {
        color: #B9CAD9;
        font-size: 13px;
        font-weight: 500;
        padding: 4px 0;
        margin-bottom: 10px;
    }
    .starting-time {
        color: #314963;
        font-size: 29px;
        font-weight: 500;
        display: block;
        line-height: 1.2;
    }
}
.login-form-section.time-setting-form {
    .boxed-btn {
        width: 160px;
        margin: 0 auto;
        display: block;
    }
}